html {
  font-size: 16px;
}

.full-height {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-family: 'Droid Serif', serif;
}

a, a:hover, a:focus  {
  text-decoration: none;
  color: black;
  outline: none;
}

#logo-text {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
}

.logo-block {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.menu {
  padding-bottom: 1rem;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  margin-right: 2rem;
  font-size: 1.1rem;
}

.menu ul li a {
  transition: color 0.3s ease-in-out;
}

.menu ul li a:hover,
.menu ul li a.active {
  color: brown;
}

#wallpaper-block {
  height: calc(100% - 140px - 1rem);
  width: 100%;
  position: relative;
}

.wallpaper {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#wallpaper1 {
  background-image: url(../img/lash-perfect-1920-1080.jpg);
  background-position: 50% 50%;
  z-index: 1;
}

#wallpaper2 {
  background-image: url(../img/inoar-1920-1080.jpg);
  background-position: 50% 0%;
  z-index: 2;
}

.image-text-left {
  max-width: 50%;
  float: left;
  margin-right: 1rem;
}

.image-text-right {
  max-width: 50%;
  float: right;
  margin-left: 1rem;
}

.video-block {
  background: black;
  text-align: center;
  padding: 2rem;
  color: white;
}

.video-block iframe {
  display: inline-block;
}

hr {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

p {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 1px solid #eeeeee;
  padding: 1rem;
}

.price-box {
  background-color: black;
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
}
